/* Created by Lucas Duarte - CSS File */

@font-face {
  font-family: 'Nunito Sans';
  src: url('https://fonts.googleapis.com/css?family=Nunito+Sans');
}

.title {

  font-size: 1.5em;
  color: #2AB39A;
  text-align: center;
}

.general-container {

    width: 100%;
    height: 100%;
    position: fixed;
}

.content-container {

  max-width: 1128px;
  margin: 0 auto;
}

.place-work {

  margin-top: 2em;
  top: 0;
  right: 0;
  float: right;
  width: 100%;
  height: 500px;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: auto;

  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* Tabelas */

table {

  border-collapse: collapse;
  margin-top: 50px;
  width: 90%;
  margin-left: auto; margin-right: auto;

}

th {

  text-align: center;
  font-weight: normal;
  color: #fff;
  padding: 13px;
  background-color: #2AB39A;
}

td {
  font-weight: normal;
  text-align: center;
  padding: 13px;
}

tr:nth-child(even) { background-color: #f2f2f2 }

/* Modal */

.modal {

  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */

.modal-content {

  position: relative;
  margin: auto;
  padding: 0;
  width: 500px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */

@-webkit-keyframes animatetop {

  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes animatetop {

  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

 /* Formularios */

.form-style {

  width: 500px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-style h2 {

  background: #2AB39A; /* #4D4D4D */
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFF; /* #797979 */
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.form-style h2 span {

  cursor: pointer;
  float: right;
}

.button-circle {

  margin-top: 40px;
  background-color: #2AB39A;
  border: none;
  color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  vertical-align: middle;
  background-image: url('../assets/add.png');
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
}

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="password"],
.form-style textarea,
.form-style select {

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px;
  height: 45px;
}

.form-style textarea {

  resize:none;
  overflow: hidden;
}

.form-style input[type="button"],
.form-style input[type="submit"] {

  -moz-box-shadow: inset 0px 1px 0px 0px #2AB39A;
  -webkit-box-shadow: inset 0px 1px 0px 0px #2AB39A;
  box-shadow: inset 0px 1px 0px 0px #2AB39A;
  background-color: #2AB39A;
  border: 1px solid #27A0A0;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  margin-top: 20px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

.form-style input[type="button"]:hover,
.form-style input[type="submit"]:hover {

  background:linear-gradient(to bottom, #65DEC8 5%, #30C9C9 100%);
  background-color:#65DEC8;
}

.alert {

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  color: #A94442;
  display: block;
  border-radius: 4px;
  padding: 10px 0px 5px 15px;
  width: 100%;
  border: 1px solid #EBCCD1;
  background-color: #F2DEDE;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
}

 /**/

.side-nav {

  float: left;
  height: 100%;
  width: 55px;
  background-color: #2AB39A;
}

.side-nav-block {

  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 55px;
  cursor: pointer;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.side-nav-block:hover { background-color: #65DEC8; }

.header {

  position: relative;
	height: 60px;
	margin: 0px auto;
	background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.logo-box {

  position: absolute;
  float: left;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 108px;
  width: 192px;
  height: 32px;
  background-image: url('../assets/logo-lista-colored.png');
  background-size: 192px 32px;
  background-repeat: no-repeat;
}

.user-image-box {

  position: absolute;
  float: left;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 13%;
  width: 25px;
	height: 25px;
  border-radius: 50%;
	background-color: #F1F1F1;
}

.user-img {

  width: 25px;
	height: 25px;
}

.dropdown-icon {

  position: absolute;
  right: left;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 10%;
  width: 8px;
  height: 8px;
  background-size: 8px;
}

.icon-drop { background-image: url('../assets/next.png'); }
.icon-logout {background-image: url('../assets/logout.png'); }
.icon-settings { background-image: url('../assets/settings.png'); }
.icon-cancel { background-image: url('../assets/cancel.png'); }
.icon-heart { background-image: url('../assets/heart.png'); }
.icon-like { background-image: url('../assets/like.png'); }
.icon-pie-chart { background-image: url('../assets/pie-chart.png'); }
.icon-reload { background-image: url('../assets/reload.png'); }

.dropbtn {

	margin: 0 auto;
	color: #3F3F3F;
	width: 200px;
  height: 60px;
  background-color: #FFF;

  border-left: 1px solid #E5E5E5;
  border-top: 0px;
  border-bottom: 0px;
  border-right: none;
  padding: 0px;
  font-size: 1em;
  cursor: pointer;

  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.dropdown {

  position: relative;
  float: right;
  display: inline-block;
}

.dropdown-content {

  display: none;
  position: absolute;
  right: 0;
  z-index: 1;

  border: 1px solid #E5E5E5;
  background-color: #fff;
  min-width: 198px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {

  color: #3F3F3F;
  padding: 12px 16px;
  font-size: 1em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover { }

.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { }

/* The side navigation menu */
.sidenav {

  height: 100%; /* 100% Full-height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: relative; /* Stay in place */
  z-index: 1; /* Stay on top */
  float: left;
  background-color: #translarent; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation Tittle Style*/
.sidenav p {

  padding: 0px 8px 8px 32px;
  font-size: 1.5em;
  color: #2AB39A;
}

/* The navigation menu links */
.sidenav a {

  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{

  color: #fff;
}

#sidenav-a:hover { background-color: #65DEC8; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {

  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1em;
  margin-left: 50px;
  color: #2AB39A;
}

.sidenav .closebtn:hover { color: #007963; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
