<html lang="en" ng-app="contactList" ng-controller="mainController">
<head>
  <title>{{appTitle}}</title>

  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="BlankApp" ng-cloak>

  <div class="header">
    <div class="logo-box"></div>
    <div class="dropdown">
  		<button class="dropbtn">
        <div class="user-image-box"> <img class="user-img" src="assets/img-usuario.svg" alt="Usuário"> </div>
          Lucas Duarte
        <div class="dropdown-icon icon-drop"></div>
      </button>
  		<div class="dropdown-content">
  		    <div> <a href="#">Logout</a> <div class="dropdown-icon icon-logout"></div> </div>
  		</div>
		</div>
	</div>

  <div class="general-container">

    <!-- Barra Lateral -->

    <div class="side-nav">
      <div class="side-nav-block icon-drop"></div>
      <div class="side-nav-block icon-logout"></div>
      <div class="side-nav-block icon-heart"></div>
      <div class="side-nav-block icon-like"></div>
      <div class="side-nav-block icon-pie-chart"></div>
      <div class="side-nav-block icon-reload"></div>
      <div class="side-nav-block icon-settings"></div>
      <div class="side-nav-block icon-cancel"></div>
    </div>
    <div layout="row">
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Contatos</h2>
        </div>
      </md-toolbar>
    </div>
      <button class="button-circle" ng-model="addContact" ng-init="addContact = false" ng-click="addContact = true" title="Adicionar um Contato..."></button>          
      <table class="table table-striped" ng-controller="contactListCtrl">
        <tr>
          <th>Nome</th>
          <th>Operadora</th>
          <th>Telefone</th>
          <th>Mail</th>
          <th>Adicionado em</th>
          <th>Favorito</th>
        </tr>
        <tr ng-repeat="contact in contactList track by $index">
          <td>{{contact.name}}</td>
          <td>{{contact.operator.opName}}</td>
          <td>{{contact.cod + ' ' + contact.phone}}</td>
          <td>{{contact.mail}}</td>
          <td>{{contact.date | date:'dd/MM/yy HH:mm'}}</td>
          <td>{{contact.isFavorite}}</td>
        </tr>
      </table>
    </div>
        <div class='modal' ng-show="addContact" ng-controller="contactAddCtrl">
          <div class='modal-content'>
            <div class="form-style">
              <form name="formContact">
                <h2 class="form-title">Adicionar Contato<span ng-click="addContact = false">&times;</span></h2>

                <div ng-show="formContact.nome.$error.required && formContact.nome.$dirty" class="alert"><b>&#9888;</b> Parece que o campo <b>nome</b> está vazio!</div>
          			<div ng-show="formContact.nome.$error.minlength" class="alert"><b>&times;</b> Que nome pequeno! Tente adicionar mais caracteres!</div>
          			<div ng-show="formContact.telefone.$error.required && formContact.telefone.$dirty" class="alert"><b>&#9888;</b> Parece que o campo <b>telefone</b> está vazio!</div>
          			<div ng-show="formContact.telefone.$error.pattern" class="alert"><b>&times;</b> Tente escrever o número no formato <b>xxxxx-xxxx</b>! </div>
                <div ng-show="formContact.mail.$error.required && formContact.mail.$dirty" class="alert"><b>&#9888;</b> Parece que o campo <b>e-mail</b> está vazio!</div>
                <div ng-show="formContact.mail.$error.email" class="alert"><b>&times;</b> Tente escrever o e-mail no formato <b>mail@mail.com</b>! </div>

                <input type="text" name="nome" ng-model="contact.name" placeholder="Nome" ng-required="true" ng-minlength="10" />
                <input type="text" name="telefone" ng-model="contact.phone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" maxlength="10" />
                <input type="email" name="mail" ng-model="contact.mail" placeholder="E-Mail" ng-required="true" />
                <select name="operator" ng-model="contact.operator" ng-options="operator.opName + ' (' + (operator.value | currency ) + ')' for operator in operators | orderBy: 'opName'" />
        					<option value="">Selecione uma operadora</option>
        				</select>
                <input type="button" value="Adicionar Contato" ng-click="insertContact(contact)" ng-disabled="formContact.$invalid"/>
              </form>
            </div>
          </div>
        </div>
      </div>


  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- ANGULAR COMPONENTS -->
  <script src="js/app.js"></script>
  <script src="contacts/contacts-controller.js"></script>
  <script src="contacts/contacts-add-controller.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->
